---
layout: default
title: 专题系列
---

<div class="container docs-container">
	<div class="row">
		<div class="col-md-3">
			<div class="sidebar hidden-print" role="complementary">
				<div id="navigation">
					<h1>专题列表</h1>
					<ul class="nav sidenav">
						{% assign series_names = site.series | map: "series" | uniq %}
						{% for series_name in series_names %}
						<li>
							<a href="#{{ series_name | slugify }}">{{ series_name }}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-9" role="main">
			<div class="panel docs-content">
				<div class="wrapper">
					<div class="home">
						<h1>📚 专题系列</h1>
						<p>按主题组织的系列文章，帮助系统学习特定领域。</p>
						
						{% assign series_names = site.series | map: "series" | uniq %}
						{% for series_name in series_names %}
						<h2 id="{{ series_name | slugify }}">{{ series_name }}</h2>
						{% assign series_posts = site.series | where: "series", series_name | sort: "order" %}
						<ul>
							{% for post in series_posts %}
							<li>
								<a href="{{ post.url }}">{{ post.title }}</a>
								<span style="color: #999;"> - {{ post.date | date: "%Y-%m-%d" }}</span>
							</li>
							{% endfor %}
						</ul>
						{% endfor %}
						
						{% if series_names.size == 0 %}
						<p>暂无专题系列，敬请期待！</p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>